<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/climate.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>A veces al indicar una dirección el sistema entrega una locación errónea.</p>
        <p>{{example}}</p>
    </div>
    {{>footer}}
</body>
</html>